 body {
     margin: 100px 0 0 0;
     padding: 10px 0 0 0;
 }

 #pieChart {
     margin-top: 50px;
     margin-bottom: 50px;
 }

 #barChart {
     width: 50%;
     position: absolute;
     left: 25%;
     margin-bottom: 100px; }

#gaugeChart{
        margin-bottom: 50px;
     }

 .stock{
    text-align: center;
 }

 .barChartp{
    margin-bottom: 50px;
 }