.list-element {
    float: left;
}

.user {
    color: #ffffff;
}

.boldst {
    font-weight: bold;
}

/* from here */
.card-box {
    text-align: center;
    overflow: hidden;
}
.box-content{
    float: left;
    text-align: center;
    align-content: center;
    padding: 20px;
    min-width: 170px;
}
.myImg {
    height: 100px;
    width: auto;
}
.card-footer{
    text-align: center;
}
.clear-fix {
    height: 100px;
}
.btn{
    background-color: #343a40;
    border: none;
}
.btn:hover{
    background-color: #545a60;
}

.btn:active{
    background-color: #545a60 !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus{
    box-shadow: none !important;
    
}

.card {
    background-color: #e0e0e0;
    border: none;
}