
    .card-list {
        list-style: none;
        margin: 0;
        padding: 15px;
        overflow: auto;
    }

    .list-element {
        float: left;
    }

    .logoutB {

    }
    .user{
      color: #ffffff;
    }
    .card{
      padding: 25px 0 0 0;
    }
    .card-footer{
      margin-top: 25px;
    }
    .boldst {
      font-weight: bold;
    }