*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: montserrat;
}
body{
	min-height: 100vh;

	background-image: linear-gradient(120deg,#ffffff,#000000);/*배경색 정하는곳 왼쪽부터 오른쪽*/
}


article span{
	padding-left: 10%;
}

article .content{
	text-align: center;
}


#one {
	background-image: linear-gradient(120deg,#000000,#ffffff);
}


#banner{
	background-image: linear-gradient(120deg,#3497db,#8e44ad);/*배경색 정하는곳 왼쪽부터 오른쪽*/

}

.humimg img{	
	width:200px;
	height: auto;
}

.cldimg img{
	width: 200px;
}

.tmpimg img{
	width: 100px;
}

.boximg img{
	width: 200px;
}

.userText {
	display: inline-block;
	font-size:3.2rem;
}

.feature {
	border-radius: 8px;
	box-shadow: 3px 3px 5px black;
}

table th {
	text-align: center;
}