<!DOCTYPE html>
<%- include('./include/head') %>
    <title>에러 / 잘못된 페이지 요청</title>
    <link rel="stylesheet" type="text/css" href="../public/error_assets/css/erindex.css">
    <style type="text/css">
        .errormain{
            padding: 100px;
            text-align: center;
        }
        .errorcode {
            border: 1px solid;
            padding: 220px;
        }
        .gth {
            display: inline-block;
            width: 101px;
            height: 34px;
            border: 1px solid #e3e6e7;
            background-color: #fafbfc;
            line-height: 34px;
            text-align: center;
            vertical-align: top;
            white-space: nowrap;
        }
        a, a:hover{
            color: #000000;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand boldst" href="/"><img src="../error_assets/image/50px35pxlogo.png" alt="">&nbsp;&nbsp;SF KITRI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <h3 class="nav-link"><%=user%> 님</h3>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="errormain">
        <div class="errorcode">
            요청하신 페이지를 찾을 수 없습니다.<br><br>
            <div class="gth"><a href="/">Home</a></div>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="py-5 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white"> &copy; KITRI_SF_project.
                PM: JIN HEE SUNG.<br>
                Member: KIM SAMUEL, KIM YOUNGROK, PARK JONGJIN, LEE SANGJIN, CHOI INKYU . </p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>