<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리 | 조도관리</title>
</head>
<body>
        <span><a href="/">메인</a></span> > 조도 관리 페이지
        <table>
            <tr>
                <th>날짜</th>
                <th>센싱값</th>
            </tr>
            <%results.forEach(result=>{%>
                <tr>
                    <td><%=result.SENSING_DATE%></td>
                    <td><%=result.SENSING_DATA%></td>
                </tr>
            <%});%>
            <tr><td>.</td></tr>
        </table>
</body>
</html>