<!DOCTYPE html>
    <%- include('./include/head') %>
    <title>Document</title>
    <script>
        window.onload = () =>{
            location.replace(<%-redirect%>);
        }
    </script>
</head>
<body>
</body>
</html>