<!DOCTYPE html>
    <%- include('./include/head') %>
    <title>Document</title>
    <script>
        window.onload = () =>{
            location.replace(<%-redirect%>); // 브라우저의 뒤로가기를 눌렀을때 post 또는 get으로 연결되지 않도록 히스토리를 바꾸기 위해 경유
        }
    </script>
</head>
<body>
</body>
</html>