<!DOCTYPE HTML>
    <%- include('./include/head') %>
    <title>SF 메인페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets_main/css/main.css" />
    <link rel="stylesheet" href="../css/style_main.css">
</head>

<body class="landing">
    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="#"><p class="userText"><%=user%></p> 님 환영합니다.</a></h1>
        <form action="/logout" method="get" style="display: inline-block;"><input type="submit" value="로그아웃"></form>
        <!-- <a href="#nav">Menu</a> -->
    </header>
    <!-- Nav -->
    <!-- <nav id="nav">
        <ul class="links">
            <li><a href="#">홈</a></li>
            <li><a href="#">센서</a></li>
            <li><a href="#">재료</a></li>
        </ul>
    </nav> -->
    <!-- Banner -->
    <section id="banner">
        
    </section>
    <!-- Navtwo -->
    <nav id="navtwo">
            <!-- One -->
            <section id="one" class="wrapper style1">
                <div class="inner">
                    <article class="feature left">
                        <span class="cldimg" ><a href="#"><img src="../img/cloud.png" alt="" /></a></span>
                        <div class="content">
                            <h2>SMART FACTORY <br>조도</h2>
                            <p><b>현재 조도는 (?) 입니다.<br>
                            현재 천장은 _(?)_ 상태입니다.<br></b></p>
                            <ul class="actions">
                                <li>
                                    <a href="/manage/illum" class="button alt">바로가기</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="feature left">
                        <span class="humimg"><a href="#"><img src="../img/hum.png" alt="" /></a></span>
                        <div class="content">
                            <h2>SMARTFACTORY <br>습도</h2>
                            <p><b>현재 습도는 (?) % 입니다.<br>
                            제습기 가동 _(?)_</b> 
                            </p>
                            <ul class="actions">
                                <li>
                                    <a href="/manage/th" class="button alt">바로가기</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="feature left">
                        <span class="tmpimg"><a href="#"><img src="../img/tempe.png" alt="" /></a></span>
                        <div class="content">
                            <h2>SMARTFACTORY <br>온도</h2>
                            <p><b>현재 온도는 (?) ˚C 입니다.<br>
                            난방기 가동 _(?)_ </b>
                            </p>
                            <ul class="actions">
                                <li>
                                    <a href="/manage/th" class="button alt">바로가기</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                     <article class="feature left">
                        <span class="boximg"><a href="#"><img src="../img/boxes.png" alt="" /></a></span>
                        <div class="content">
                            <h2>SMARTFACTORY <br>재고수량</h2>
                            <p><b>A재고량 : (?) , 상태 : (?)<br>
                            B재고량 : (?) , 상태 : (?)<br>
                            C재고량 : (?) , 상태 : (?)<br></b>
                            </p>
                            <ul class="actions">
                                <li>
                                    <a href="/manage/stock" class="button alt">바로가기</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    
                </div>
            </section>
    </nav>
    <!-- Footer -->
    <footer id="footer">
        <!-- <div class="inner">
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook">
                        <span class="label">Facebook</span>
                    </a></li>
                <li><a href="#" class="icon fa-twitter">
                        <span class="label">Twitter</span>
                    </a></li>
                <li><a href="#" class="icon fa-instagram">
                        <span class="label">Instagram</span>
                    </a></li>
                <li><a href="#" class="icon fa-linkedin">
                        <span class="label">LinkedIn</span>
                    </a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled.</li>
                <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
                <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
            </ul>
        </div> -->
    </footer>
    <!-- Scripts -->
    <script src="../assets_main/js/jquery.min.js"></script>
    <script src="../assets_main/js/skel.min.js"></script>
    <script src="../assets_main/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../assets_main/js/main.js"></script>
</body>

</html>