<!DOCTYPE html>
	<%- include('./include/head') %>
	<link rel="stylesheet" href="../../css/style_login.css">
	<title>로그인</title>
<head/>
<body>
	
	<form action="/login" class="login-form" method="POST">
		<h1>SF프로젝트</h1>

		<div class="txtb">
			<input type="text" name="userId" autocomplete="off">
			<span data-placeholder="ID"></span>
		</div>

		<div class="txtb">
			<input type="password" name="userPwd" autocomplete="off">
			<span data-placeholder="Password"></span>
		</div>

		<input type="submit" class="logbtn" value="로그인">
	</form>
	<script type="text/javascript">
			$(".txtb input").on("focus",function(){
			$(this).addClass("focus");
		});

		$(".txtb input").on("blur",function(){
			if($(this).val() == "")
			$(this).removeClass("focus");
		});
	</script>


</body>
</html>